
@import "base/fonts";
@import "helpers/media";
@import "base/comparison";

$main-color: #D77C69;
$bgcolor: #FCF8F6;
$black-color: #3B3E47;
$title-color: #3A4561;


h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    color: $title-color;
}
 p {
    font-size: 22px;
    line-height: 27px;
    font-family: 'Proxima Nova Semibold';
    color: $title-color;
 }
body {
    font-family: 'Proxima Nova Regular';
    font-size: 20px;
    line-height: 150%;  
    color: $black-color;
    overflow-x: hidden;
    margin: 0;

    // font-family: 'Proxima Nova Light';
    // font-family: 'Proxima Nova Semibold';
    // font-family: 'Playfair Display Regular';
}

.wrap {
    max-width: 1360px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    &_relative {
        position: relative;
    }
}

.page {
    position: relative;
    // overflow-x: hidden;
    &-main {
        padding-bottom: 82px;
    }
    &-slider {
        padding-top: 96px;
    }
    &-box{
        position: absolute;
        top: 0;
        right: 0;
        background: $bgcolor;
        width: 96.5%;
        height: 92%;
        z-index: -2;
        &_center {
            width: 92%;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
        }
        &_equip {
            width: 834px;
            height: 610px;
            left: -135%;
            margin-top: 46%;
            &-2 {
                padding-bottom: 5px;
            }
        }
        &_form {
            top: 0;
            left: 0;
            height: 707px;
            width: 67%;
            &_2 {
                top: 60px;
            }
        }
    }
    &__wrapper {
        padding-left: 7%;

    }
    &-form {
        position: relative;
        padding-top: 121px;
        padding-bottom: 301px;
        &_2 {
            padding-top: 12.2%;
            padding-bottom: 10%;
        }
        &__wrapper {
            padding-left: 7%;
        }
        &__img {
            position: absolute;
            top: 3.8%;
            right: 5%;
            display: flex;
            &_2 {
                top: 15.8%;
            }
            &_big {
                width: 506px;
                height: 672px;
                margin-top: 6.1%;
                margin-right: 5px;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0; 
                }
            }
            &_middle {
                margin-top: 26%;
                width: 242px;
                height: 313px;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0; 
                }
            }
            &_small {
                margin-top: 56px;
                width: 139px;
                height: 180px;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0; 
                }
            }
        }
    }
    &__img {
        position: absolute;
        top: 13.5%;
        left: 50%;
        display: flex;
        &_big {
            margin-top: 5.9%;
            position: relative;
            width: 568px;
            height: 750px;
            img {
                width: 568px;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &_small {
            margin-top: 23%;
            position: relative;
            width: 183px;
            height: 229px; 
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0; 
            }
        }
        &_middle {
            width: 276px;
            height: 345px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0; 
            }
        }
    }
    &-equip {
        padding-top: 0px;
        padding-bottom: 60px;
        &_2 {
            padding-top: 182px;
            padding-bottom: 274px;
        }
        &__wrapper {
            position: absolute;
            right: 114%;
            bottom: 7%;
            }
        &__img {
            position: absolute;
            top: -8.2%;
            right: 139%;
            left: auto;
            
            &_small {
                position: relative;
                width: 165px;
                height: 196px;
                margin: 0 0 24% auto;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &_middle {
                position: relative;
                width: 251px;
                height: 298px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &_big {
                width: 451px;
                height: 700px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &-seal {
        position: absolute;
        background-image: url(../img/main/seal.svg);
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 7.5%;
        left: -17%;
        width: 213px;
        height: 189px;
        &_calc {
            bottom: inherit;
            left: inherit;
            right: -69px;
            top: 18.3%;
        }
        &_equip {
            bottom: -13.5%;
            left: 80%;
    
        }
        &_form {
            bottom: -11.5%;
            left: -12%;
            &-2 {
                bottom: 61.5%;
            }
        }
    }
    &-team {
        padding-bottom: 55px;
    }

    h3 {
        font-size: 60px;
        line-height: 80px;
        margin-top: 37px;
        font-weight: 400;
        span {
            font-style: italic;
            font-family: 'Playfair Display', serif;
            font-weight: 400;
        }
    }
    &-articles {
        padding-bottom: 50px;
        h3 {
            font-size: 55px;
            line-height: 73px;
            margin-top: 153px;
        }
    }
}
.header {
    font-family: 'Proxima Nova Light';
    font-size: 15px;
    line-height: 18px;
    padding-top: 40px;
    display: flex;
    &__logo {
        display: block;
        width: 110px;
        height: 41px;
        background-image: url(../img/main/logo.svg);
        flex-basis: 10.8%;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 7px;
        z-index: 2;
        &_invisible {
            display: none;
        }
    }
    &-list {
        display: flex;
        list-style-type: none;
        margin-top: 16px;

        &__link {
        color: $black-color;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        padding: 3px;
        transition: 0.3s;
        &:hover {
            border-bottom: 3px solid $main-color;
            }
        }
        // &__link.active {
        //     border-bottom: 3px solid $main-color;
        // }
        &__item {
            margin-left: 18px;
            margin-right: 11px;
        }
    }
    address {
        display: flex;
        flex-basis: 14.1%;
        align-items: start;
        margin-top: 7px;
        img {
            margin-top: 9px;
        }
        p {
            font-family: 'Proxima Nova Light';
            font-style: normal;
            font-size: 14px;
            line-height: 17px;
            margin-left: 17px;
        }
    }
    &__phone {
        font-family: 'Proxima Nova Semibold';
        font-size: 20px;
        line-height: 24px;
        color: $black-color;
        text-decoration: none;
        margin-top: 13px;
        flex-basis: 15%;
        img {
            display: none;
        }
        &_invisible {
            display: none;
        }
    }  
    &-wrapper {
        flex-basis: 46.5%;
        .address_burger {
            display: none;
        }
    }
    &-social {
        display: none;
    }
}
.hamburger {
    display: none;
}
.btn {
    font-family: 'Proxima Nova Semibold';
    font-size: 16px;
    line-height: 26px;
    color: #D77C69;
    border: 1px solid #D77C69;
    padding: 11px 34px 11px;
    box-sizing: border-box;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0px 10px 25px rgba(215, 124, 105, 0.39);
    &_nav {
        box-shadow: none;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: #BC9D84;
    }
}

.block-main {
    margin-top: 184px;
    padding-bottom: 185px;
    h1 {
        font-size: 55px;
        line-height: 120%;
        width: 39%;
    }
    p{
        margin-top: 47px;
        margin-left: 4px;
        width: 34%;
    }
    &__descr {
        margin-top: 37px;
        margin-left: 7px;
        width: 33%;
        line-height: 120%;
    }
    &__btn {
        display: block;
        color: #fff;
        background-color: $main-color;
        margin-top: 55px;
        margin-left: 5px;
        padding: 19px 34px;
        text-decoration: none;
        width: 331px;   
        &:hover {
            background-color: #c56854;
        }
    }
}
.block-advantages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-bottom: 26px;

    &_2 {
        margin-top: 10px;
    }
    &__item {
        display: flex;
        flex-basis: 33.3%;
        margin-bottom: 89px;
    }

    &__text {
        margin-left: 37px;
        margin-top: 1px;

    }
    h4 {
        font-size: 20px;
        line-height: 27px;
    }
    &__descr {
        font-size: 15px;
        line-height: 150%;
        margin-top: 20px;
        max-width: 74%;
    }
    &__counter {
        display: none;
    }
}
input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    top: -11rem;
    left: -6%;
    background-color: rgba(255, 255, 255, 0);
    width: 102%;
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  input[type=range]:focus {
    outline: none;
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  input[type=range]:active {
    outline: none;
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  input[type=range]::-moz-range-track {
    -moz-appearance: none;
    height: 15px;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    outline: none;
    border: none;
  }
  
  input[type=range]:active {
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 57px;
    height: 55px;
    background-image: url(../img/gallery/arrows.svg);
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    width: 57px;
    height: 55px;
    border: none;
    outline: none;
    background-color: transparent;
  }
 
.block-calc {
    padding-top: 119px;
    padding-bottom: 65px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &__wrapper {
        flex-basis: calc(100% - 539px);
    }
    h2 {
        font-size: 50px;
        line-height: 120%;
        width: 525px;
        font-weight: 400;
        span {
            color: #D77C69;
            font-style: italic;
            font-family: 'Playfair Display', serif;
            position: relative;
            display: inline;;
            &::after {
                content: '';
                background-image: url(../img/calc/vector.svg);
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute; 
                top: 67px;
                left: 14px;
                width: 279px;
                height: 15px;
            }
        }    
    }
    p {
        margin-top: 92px;
        width: 673px;
        letter-spacing: 1px;
        line-height: 150%;
    
    }
    &__choice {
        font-family: 'Proxima Nova Light';
        font-size: 15px;
        line-height: 150%;
        margin-top: 49px;
        margin-left: -2px;
    }
    &__descr {
        bottom: 11px;
        left: 11px;
        position: absolute;
        width: 80%;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: #3A4561;
        font-family: 'Proxima Nova Regular';
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 27px;
    }
    &__item {
        &.active {
            border-color: $main-color;
            img {
                opacity: 0;
            }
            .block-calc__descr {
                color: $main-color;
            }
        }
    }
   
    &__item {
        position: relative;
        width: 100%;
        height: 130px;
        background-color: #fff;
        border: 2px solid transparent;
        flex-basis: 14%;
        margin-bottom: 23px;
        &_neck {
            background-image: url(../img/calc/neck.svg);
            background-repeat: no-repeat;
            background-position: 26px 18px;
        }
        &_neck.active {
            background-image: url(../img/calc/neckred.svg);
            background-repeat: no-repeat;
            background-position: 26px 18px;
        }
        &_arm{
            background-image: url(../img/calc/arm1.svg);
            background-repeat: no-repeat;
            background-position: 36px 24px;
        }
        &_arm.active {
            background-image: url(../img/calc/armred.svg);
            background-repeat: no-repeat;
            background-position: 36px 24px;
        }
        &_shin{
            background-image: url(../img/calc/shin1.svg);
            background-repeat: no-repeat;
            background-position: 28px 22px;
        }
        &_shin.active {
            background-image: url(../img/calc/shin2.svg);
            background-repeat: no-repeat;
            background-position: 28px 22px;
            }
        &_leg{
            background-image: url(../img/calc/fullleg.svg);
            background-repeat: no-repeat;
            background-position: 27px 21px;
        }
        &_leg.active {
            background-image: url(../img/calc/fullred.svg);
            background-repeat: no-repeat;
            background-position: 28px 21px;
            }
        &_shoulders{
            background-image: url(../img/calc/fullleg.svg);
            background-repeat: no-repeat;
            background-position: 27px 21px;
        }
        &_shoulders.active {
            background-image: url(../img/calc/fullred.svg);
            background-repeat: no-repeat;
            background-position: 28px 21px;
            }
        &_shoulders{
            background-image: url(../img/calc/shoulders.svg);
            background-repeat: no-repeat;
            background-position: 29px 18px;
        }
        &_shoulders.active {
            background-image: url(../img/calc/shoulderred.svg);
            background-repeat: no-repeat;
            background-position: 28.5px 18px;
        }
        &_bikini{
            background-image: url(../img/calc/bikini.svg);
            background-repeat: no-repeat;
            background-position: 32px 22px;
        }
        &_bikini.active {
            background-image: url(../img/calc/bikinired.svg);
            background-repeat: no-repeat;
            background-position: 32px 22px;
        }
        &_armpits{
            background-image: url(../img/calc/armpits.svg);
            background-repeat: no-repeat;
            background-position: 28px 28px;
        }
        &_armpits.active {
            background-image: url(../img/calc/armp.svg);
            background-repeat: no-repeat;
            background-position: 28px 28px;
        }
        &_forearm{
            background-image: url(../img/calc/forearm.svg );
            background-repeat: no-repeat;
            background-position: 30px 18px;
        }
        &_forearm.active {
            background-image: url(../img/calc/armpitred.svg);
            background-repeat: no-repeat;
            background-position: 30px 18px;
        }
        &_buttocks{
            background-image: url(../img/calc/buttocks.svg );
            background-repeat: no-repeat;
            background-position: 32px 30px;
        }
        &_buttocks.active {
            background-image: url(../img/calc/butsred.svg);
            background-repeat: no-repeat;
            background-position: 32px 30px;
        }
        &_tum{
            background-image: url(../img/calc/tummy.svg);
            background-repeat: no-repeat;
            background-position: 30px 24px;
        }
        &_tum.active {
            background-image: url(../img/calc/tumred.svg);
            background-repeat: no-repeat;
            background-position: 30px 24px;
        }
        &_hips{
            background-image: url(../img/calc/hips.svg);
            background-repeat: no-repeat;
            background-position: 36px 22px;
        }
        &_hips.active {
            background-image: url(../img/calc/hipred.svg);
            background-repeat: no-repeat;
            background-position: 36px 22px;
        }
        &_face{
            background-image: url(../img/calc/face.svg);
            background-repeat: no-repeat;
            background-position: 33px 15px;
        }
        &_face.active {
            background-image: url(../img/calc/redface.svg);
            background-repeat: no-repeat;
            background-position: 33px 15px;
        }
    }
    
    
  

    &__img {
        position: relative;
        height: 80px;
        width: 100%;
        img {
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    &__call {
        font-family: 'Proxima Nova Light';
        font-size: 15px;
        line-height: 150%;
        margin-top: 24px;
        max-width: 476px;

        &_2 {
            display: none;
        }
        a:nth-child(2){
            text-decoration: underline;
            font-family: 'Proxima Nova Light';
        }
        a {
            text-decoration: none;
            color: $black-color;
            font-family: 'Proxima Nova Semibold';
        }
    }
    &__check {
        width: 435px;
        height: 100%;
        background-color: #fff;
        margin-top: 171px;
        padding: 54px 51px 59px 48px;
        box-sizing: border-box;
        font-family: 'Proxima Nova Light';
        font-size: 15px;
        line-height: 150%;
        &__3 {
            display: block;
        }
        &-2 {
            display: none;
        }
        &-1 {
            display: none;
            margin-top: 206px;
        }
        &-0 {
            display: none;
            margin-top: 206px;
        }
         
    }
    &__helptext {
        text-align: center;
        color: #D77C69;
        padding: 0px 50px;
    }
    &__attention {
        width: 52px;
        height: 52px;
        margin-top: 51px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    &__content {
        margin-bottom: 40px;
        &_mini {
            height: 140px;
        }
    }
    &__yourchoice {
        color: rgba(59, 62, 71, 0.5);
        margin-bottom: 25px;
    
    }
    &__row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #E9D9CD;
        padding-bottom: 13px;
        margin-bottom: 18px;
        padding-right: 10px;
    }
    &__name {
        flex: 1 0 auto;
    }
    &__sale {
        text-align: right;
        text-decoration: line-through;
        color: rgba(59, 62, 71, 0.4);
        flex: 0 0 90px;
    }
    &__price {
        text-align: right;
        font-family: 'Proxima Nova Semibold';
        flex: 0 0 82px;
    }
    &__undiscounted {
        text-align: center;
        color: $title-color;
        margin-left: -9px;
        &-2 {
            margin-top: 15px;
        }
        &-sub {
            font-family: 'Proxima Nova Semibold';
            font-size: 30px;
            line-height: 37px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #3A4561;
            text-align: center;

        }
    }
    &__full {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Proxima Nova Semibold';
        margin-bottom: 6px;
        margin-top: 14px;
        padding-left: 13px;
    }
    &__discount {
        color: #FFFFFF;
        text-align: center;
        background-color: $black-color;
        height: 21px;
        padding: 0px 3px 0px;
        margin-right: 8px;
        &-2 {
            display: none;
        }
    }
    &__total {
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-left: 14px;
        &-2 {
            margin-left: 0;
        }
    }
    &__economy {
        text-align: center;
        color: $main-color;
        span {
            display: block;
            margin-top: 10px;
        }
       
    }
    &__btn {
        padding: 18px 0 19px;
        box-sizing: border-box;
        background-color: $main-color;
        width: 100%;
        color: #fff;
        margin-top: 39px;
        &:hover {
            background-color: #c56854;
        }
    }
}
.hidden{
    display: none;
  }
  .active{
    border-color: $main-color;
    fill: $main-color;
    .block-calc__descr {
        color: $main-color;
    }

  }

.block-team {
    direction: rtl;
    position: absolute;
    top: 149px;
    max-width: 960px;
    right: 51.5%;
    &__item {
        position: relative;
        height: 640px;
        width: 507px;
        img {
            height:590px;
            width: 427px;
            padding-right: 42px;
        }
        
    }
    &__wrapper {
        position: absolute;
        top: 73%;
        left: 43%;
        padding: 27px 32px;
        width: 47%;
        background-color: #FCF8F5;
        text-align: left;
    }
    &__name {
        font-family: 'Playfair Display', serif;
        font-size: 22px;
        line-height: 120%;
        color: $title-color;
    }
    &__descr {
        font-size: 15px;
        line-height: 150%;
        color: $black-color;
        opacity: 0.8;
        font-family: 'Proxima Nova Light';
        margin-top: 24px;
    }
    &__title {
        font-family: 'Playfair Display', serif;
        font-size: 55px;
        line-height: 73px;
        color: $title-color;
        span {
            font-family: 'Playfair Display', serif;
            font-style: italic; 
        }
    }
    &__content {
        margin-left: 59%;
        padding-top: 180px;

    }
    &__text {
        margin-top: 39px;
        max-width: 471px;
        margin-bottom: 75px;
        letter-spacing: -0.15px;
    }
    &__btn {
        padding: 19px 57px 18px;
        color: #fff;
        background-color: $main-color;
        &_mobile {
            display: none;
        }
        &:hover {
            background-color: #c56854;
        }
    }
    &__link {
        font-family: 'Proxima Nova Light';
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        color: $title-color;
        margin-left: 44px;
    }
    &__counter {
        font-family: 'Proxima Nova Semibold';
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $title-color;
        margin-top: 117px;
        margin-left: 71%;
    }
    &__arrow_next {
        position: absolute;
        right: -27%;
        bottom: 5%;
        width: 30px;
        height: 30px;
        z-index: 2;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__arrow_prev {
        position: absolute;
        right: -18%;
        bottom: 5%;
        width: 30px;
        height: 30px;
        z-index: 2;
        img {
            width: 100%;
            height: 100%;
        }
    }
}      
.slick {
    &-list {
        height: 650px;
    }
    &-slide{
        opacity: 0.3;
        .block-team__wrapper {
            display: none;
        }
        &:focus {
            outline: none;
        }
    }
    &-current {
        opacity: 1;     
        .block-team__wrapper {
            display: block;
        } 
    }

}
.block-prices {
    padding-top: 156px;
    h3 {
        font-size: 60px;
        line-height: 80px;
        font-weight: 400;
    }
    input {
        display: none;
    }
    &__content {
        display: none;
        padding-left: 36px;
    }
    &__item:last-child {
        margin-top: 42px;
    }
    &__item-faq:last-child {
        margin-top: 6px;
    }
    &__item {
        margin-top: 74px;
        &_faq {
            margin-top: 0;
            margin-bottom: 30px;
        }
    }
    &__item :checked ~ &__content {
        display: block;
       }
    &__title {
        position: relative;
        display: block;
        text-transform: uppercase;
        font-family: 'Proxima Nova Semibold';
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        color: $title-color;
        background-color: #FCF8F5;
        border-top: 1px solid #E9D9CD;
        padding: 38px 0 36px 36px;
        transition: 1s all;
        cursor: pointer;
        &_faq {
            font-family: 'Proxima Nova Light';
            font-size: 22px;
            padding: 40px 30px 40px 35px;
            text-transform: none;
            letter-spacing: -0.01px;
        }
        &::after {
            content:'';
            background-image: url(../img/team/arrow.svg);
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            position: absolute;
            width: 23px;
            height: 23px;
            top: 50%;
            right: 2.2%;
            transform: translateY(-50%) rotate(-90deg);
        }
    } 
    &__item :checked + &__title{
        background-color: transparent;        
    }
    &__item :checked + &__title::after {
            transform: rotate(90deg);
            top: 33%;
    }  
    &__wrapper:nth-child(1) {
        margin-top: 3px;
    }
    &__wrapper {
        display: flex;
        margin-top: 29px;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: $black-color;
    }
    &__service {
        flex-basis: 68%;
    }
    &__time {
        margin-top: 1px;
        flex-basis: 12.8%;
    }
    &__price {
        flex-basis: 6.1%;
        font-family: 'Proxima Nova Semibold';
        font-size: 16px;
        line-height: 19px;
        color: $title-color;
        margin-top: 5px;
    }
    &__link {
        font-family: 'Proxima Nova Semibold';
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $main-color;
        text-decoration: none;
        margin-top: 5px;
        background-color: transparent;
        border: none;
        &:focus {
            outline: none;
        }
    }
    &_faq {
        padding-top: 111px;
        position: relative;

        h3 {
            margin-top: 5px;
            font-size: 55px;
            line-height: 73px;
            margin-bottom: 74px;
        }
    }
    &__btn {
        box-shadow: none;
        &_faq {
            display: block;
            position: absolute;
            right: 0px;
            top: 19%;
            padding: 16px 34px 13px;
            box-shadow: none;
        }
    }
}
.block-slider {
    position: relative;
    margin-top: 55px;
    &__btn {
        display: none;
        background: #D77C69;
        box-shadow: 0px 10px 25px rgba(215, 124, 105, 0.39);
        color: #fff;
        font-size: 16px;
        line-height: 19px;
        font-family: 'Proxima Nova Semibold';
        margin-top: 25px;
        width: 100%;
        height: 55px;
        &_mobile {
            display: none;
        }
    }
    &__item {
        padding-right: 9px;
        position: relative;
        cursor: pointer;
        transition: 3s ease;
        height: 100%;
        img {
            height: 545px;
        }
        &:hover {
           .block-slider__btn_mini {
                display: block;   
            }
        }
    }
    .slick-current {
        opacity: 1;
    }
    .slick-slide {
        opacity: 1;
        width: 422px;
         margin-right: 26px;
    }
    &__wrapper {
        position: absolute;
        top: 67%;
        left: 8.5%;
        padding: 33px 35px 30px;
        width: 64%;
        background-color: #FCF8F5;
        line-height: 130%;
        transition: 0.3s ease;
    }
    &__title {
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        line-height: 120%;
        color: $title-color;
    }
    &__descr {
        font-size: 15px;
        line-height: 150%;
        color: $black-color;
        opacity: 0.8;
        font-family: 'Proxima Nova Light';
        margin-top: 26px;
        width: 87%;
    }
    &__time {
        font-family: 'Proxima Nova Semibold';
        font-size: 15px;
        line-height: 150%;
        color: #D77C69;
        opacity: 0.8;
        margin-top: 23px;
        .far {
            margin-right: 12px;
        }
    }

    .slick-list {
        height: 720px;
    }
    &__counter {
        font-family: 'Proxima Nova Semibold';
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $title-color;
        position: absolute;
        top: 19%;
        right: 16%;

    }
    &__arrow_next {
        position: absolute;
        right: 9.7%;
        top: -12%;
    }
    &__arrow_prev {
        position: absolute;
        right: 14.5%;
        top: -12%;
    }

}

.block-equip {
    margin-left: 57.5%;
    position: relative;

    h3 {
        font-size: 55px;
        line-height: 73px;
        margin-top: 139px;
    }
    input {
        display: none;
    }
    &__wrapper {
        margin-top: 43px;
    }
    &-tabs {
        font-size: 0;
        margin-left: auto;
        margin-right: auto;
        &>div {
            display: none;
            font-size: 16px;  
        }
        &>label {
            display: inline-block;
            vertical-align: middle;
            user-select: none;
            transition: color 0.15s ease-in-out; 
            cursor: pointer;
            position: relative;
            top: 4px;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-family: 'Proxima Nova Semibold';
            color: $title-color;
            width: 32%;
             margin: 0 48px 0 0;
             
             &::after {
                 content: "";
                 background-image: url(../img/equip/vector.svg);
                 display: block;
                 background-size: contain;
                 background-repeat: no-repeat;
                 width: 174px;
                 height: 17px;
                 position: absolute;
                 top: 45px;
                 display: none;

             }
        }
        &>input:checked+label {
            color: $main-color;
        }
        &>input:checked+label::after {
            display: block;
        }

    }
    p {
        margin-top: 75px;
        margin-left: -12px;
        max-width: 79%;
        letter-spacing: 0.4px;
        line-height: 1.6;
    }
   
    &__descr {
        font-family: 'Proxima Nova Light';
        font-size: 20px;
        line-height: 150%;
        color: $title-color;
        margin-top: 33px;
        margin-left: -15px;
    }
    ul {
        margin-top: 52px;
        font-family: 'Proxima Nova Light';
        font-size: 18px;
        line-height: 150%;
        color: $title-color;
        list-style-type: none;
        max-width: 400px;
        li {
            position: relative;
            margin-bottom: 30px;
            padding-left: 42px;
            span {
                font-family: 'Proxima Nova Semibold';
            }
            &::before {
                content: "";
                 background-image: url(../img/equip/smallvector.svg);
                 display: block;
                 background-size: contain;
                 background-repeat: no-repeat;
                 width: 33px;
                height: 11px;
                position: absolute;
                top: 11px;
                left: -17px;
            }
        }
    }
    &__btn {
        margin-top: 22px;
        padding: 18px 56px 18px 56px;
        margin-left: -15px;
        color: #fff;
        background-color: $main-color;
        &:hover {
            background-color: #c56854;
        }
    }
    #tab-1:checked~#content-1,
    #tab-2:checked~#content-2 {
      display: block;
      padding: 10px 15px;
    }
    #tab-1:checked~#img-1, 
    #tab-2:checked~#img-2 {
        display: block;
    }
    &_2 {
        padding-top: 21px;
        p {
            margin-top: 96px;
            margin-left: 2px;
            max-width: 81%;
        }
        ul {
            margin-top: 62px;
            margin-left: 56px;
        }
    }

    h2 {
        font-size: 55px;
        line-height: 120%;
        width: 95%;
        font-weight: 400;
        
        span {
            color: #D77C69;
            font-style: italic;
            font-family: 'Playfair Display', serif;
            position: relative;
            &::after {
                content: '';
                background-image: url(../img/calc/vector.svg);
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute; 
                top: 67px;
                left: 5px;
                width: 378px;
                height: 20px;
                margin-top: 14px;
            }
        }  
    }  
}
.block-technologies {
    h3 {
        margin-top: 118px;
        margin-left: -13px;
        font-size: 55px;
        line-height: 73px;
    }
    &__wrapper {
        background-color: $bgcolor;
        padding: 60px 50px 32px;
        width: 774px;
        margin-right: 43px;
        flex: 1 0 auto;
        box-sizing: border-box;
    }
    &__wrap {
        display: flex;
        margin-top: 78px;
        margin-bottom: 0px;
        .block-technologies__wrapper:last-child {
            width: 543px;
            margin-right: 0;
            padding: 60px 38px 32px;
            .block-technologies__pics {
                justify-content: flex-start;
                .block-technologies__item:nth-child(1){
                    margin-right: 27px;
                }
            }
            .block-technologies__item {
                flex-basis: 49%;
            }
        }
        
    }
    &__title {
        font-family: 'Playfair Display', serif;
        font-size: 30px;
        line-height: 120%;
        color: $title-color;
        margin-bottom: 28px;
    }
    &__text {
        font-family: 'Proxima Nova Light';
        font-size: 16px;
        line-height: 150%;
        color: $title-color;
        max-width: 626px;
    }
    &__pics {
        display: flex;
        justify-content: space-between;
        counter-reset: list;
    
    }
    &__item {
        margin-top: 41px;
        flex-basis: 28%;

    }
    &__img {    
        counter-increment: list;
        position: relative;
        &::before {
            content: counter(list)".";
            color: #fff;
            background-color: $main-color;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            position: absolute;
            bottom: -5px;
            left: -16px;
            box-sizing: border-box;
            padding: 2px 0px 0px 11px;
            font-size: 12px;
        }


    }
    &__descr {
        font-family: 'Proxima Nova Light';
        font-size: 12px;
        line-height: 150%;
        color: $title-color;
        margin-top: 32px;
        letter-spacing: -0.8px;
    }
}
.block-form {
    &-modal {
        height: 100%;
    }
    h2 {
        font-size: 47px;
        line-height: 131%;
        width: 36%;
        font-weight: 400;
        span {
            color: #D77C69;
            font-style: italic;
            font-family: 'Playfair Display', serif;
            position: relative;
            &::after {
                content: '';
                background-image: url(../img/calc/vector.svg);
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute; 
                top: 63px;
                left: -1px;
                width: 378px;
                height: 20px;
                margin-top: 0px;
            }
        }  
    }  
    &__descr {
        font-family: 'Proxima Nova Light';
        font-size: 20px;
        line-height: 150%;
        color: $title-color;
        margin-top: 55px;
        margin-left: -5px;
        width: 28%;
        &_modal {
            font-size: 16px;
            line-height: 150%;
            width: 100%;
            margin: 24px 0 35px;
        }
    }
    &__wrapper {
        display: flex;
        margin-top: 35px;
        margin-bottom: 46px;
        p {
            font-family: 'Proxima Nova Light';
            font-size: 14px;
            line-height: 150%;
        }
        input {
            margin-top: 12px;
            padding: 25px 0px 19px 26px;
            margin-right: 26px;
            width: 256px;
            border: none;
            font-size: 14px;
            line-height: 130%;
            &:focus {
                outline: none;
            }
            &::placeholder {
                font-family: 'Proxima Nova Light';
                font-size: 14px;
                line-height: 150%;
                color: $title-color;
                opacity: 0.4;
            }
        }
        &_modal {
            display: block;
            input {
                margin: 15px 0 0;
                padding: 18px 24px;
                width: 100%;
                box-sizing: border-box;
                font-size: 14px;
                line-height: 18px;
            }
            &-flex{
                display: flex;
                justify-content: space-between;
            }
            textarea {
                margin: 9px 0 0;
                padding: 21px 0 25px 21px;
                width: 100%;
                box-sizing: border-box;
                font-family: 'Proxima Nova Light';
                font-size: 14px;
                line-height: 150%;
                color: rgba(58, 69, 97, 0.4);
                border: none;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    &__item {
        &_modal {
            margin-bottom: 22px;
        }
    }
    &__btn {
        padding: 16px 48px;
        color: #fff;
        background-color: $main-color;
        &:hover {
            background-color: #c56854;
        }
        &_modal {
            width: 100%;
            box-sizing: border-box;
            &-signup {
                padding: 18px 0;
                text-align: center;
                display: block;
                margin-top: 30px;
            }
        }
    }

}
.block-gallery {
    padding-top: 20px;
    position: relative;
    h3 {
        font-size: 55px;
        line-height: 73px;
    }

    &-content {
        display: none;
    }
    &-tabs {
        font-size: 0;
        position: relative;
        padding-top: 55px;
        .input {
            display: none;
        }
        &>div {
            display: none;
            padding: 10px 15px;
            font-size: 16px;  
        }
        label:nth-child(2) {
            right: 148px;
        }
        &>label {
            display: inline-block;
            vertical-align: middle;
            user-select: none;
            transition: color 0.15s ease-in-out; 
            cursor: pointer;
            position: absolute;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-family: 'Proxima Nova Semibold';
            color: $title-color;
            top: -53px;
            right: -2px;
             &::after {
                 content: "";
                 background-image: url(../img/equip/vector.svg);
                 display: block;
                 background-size: cover;
                 background-repeat: no-repeat;
                 background-position: center;
                 width: 100%;
                 height: 12px;
                 position: absolute;
                 top: 26px;
                 display: none;

             }
        }
        &>input:checked+label {
            color: $main-color;
        }
        &>input:checked+label::after {
            display: block;
        }

    }
    #tab3:checked~#content3,
    #tab4:checked~#content4 {
      display: block;
    }
    .comparison {
        width: 468px;
        height: 312px; 
            figure {
                width: 90%;
            }
    }
    .slick-slide {
        opacity: 1;
    }
    .slick-list {
        height: 425px;
    }
    .slick-dots {
        display: flex;
        list-style-type: none;
        position: absolute;
        bottom: 37px;
        left: 10%;
        
        &>li {
            &>button {
                margin-top: 10px;
                width: 132.5px;
                height: 1px;
                cursor: pointer;  
                background-color: #FCF8F5;
                text-indent: -9999px;
                border: none;
                line-height: 0;
                font-size: 0;  
                &:focus {
                    outline: none;
                }
             }
        }
        &>li.slick-active {
            width: 132.5px;
            &>button {
                background: #3A4561;
                opacity: 0.2;
                z-index: 2;
            }

        }
    }
    &__arrow_next {
        position: absolute;
        left: 5%;
        bottom: 9%;
    }
    &__arrow_prev {
        position: absolute;
        left: 0%;
        bottom: 9%;
    }
    &__counter {
        position: absolute;
        right: 0;
        bottom: 9%;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-family: 'Proxima Nova Semibold';
        color: $title-color;
    }
    &__img {
        width: 468px;
        height: 312px;
        position: relative;
        img {
            width: 85%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
}

.block-articles {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 37px;
    
    &__item {
        position: relative;
        cursor: pointer;
        transition: 3s ease;
        flex: 0 0 31%;
    }
    &__img {
        width: 100%;
        height: 404px;
        position: relative;    
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: contain;
        }
    }

    &__wrapper {
        position: absolute;
        bottom: -37px;
        left: 10%;
        padding: 27px 29px;
        margin: 0 auto;
        width: 81%;
        background-color: #FCF8F5;
        line-height: 130%;
        box-sizing: border-box;

    }
    &__title {
        font-family: 'Oranienbaum', serif;
        font-size: 26px;
        line-height: 120%;
        color: $title-color;
    }
    &__descr {
        font-size: 15px;
        line-height: 150%;
        color: $black-color;
        opacity: 0.8;
        font-family: 'Proxima Nova Light';
        margin-top: 20px;
        width: 87%;
    }
    &__link {
        font-family: 'Proxima Nova Light';
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        color: $title-color;
        position: absolute;
        right: 11px;
        top: 5%;

    }
}
.block-contacts {
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 200px;
    justify-content: space-between;
    a {
        font-family: 'Playfair Display', serif;
        font-size: 70px;
        line-height: 93px;
        color:$title-color;
        text-decoration: none;
        flex: 0 0 auto;
        margin-top: -13px;
    }
    .btn {
        background-color: $main-color;
        color: #fff;
        padding: 16px 0;
        height: 65px;
        width: 225px;
        flex: 0 0 225px;
        &:hover {
            background-color: #c56854;
        }
    }
    address {
        display: flex;
        align-items: center;
        flex: 0 0 200px;
        img {
            width: 20px;
        }
        p {
            font-family: 'Proxima Nova Light';
            font-style: normal;
            margin-left: 25px;
            font-size: 18px;
            line-height: 22px;
        }
    }
    &-social {
        display: flex;
        flex: 0 0 261px;
        margin-top: 11px;

        a {
            color: #CFBBAA;
            font-size: 32px;
            margin-left: 32px;
     
        }
        a:first-child {
            margin-left: 0;
        }
        .facebook {
            font-size: 32px;
        }
        .vk {
            font-size: 32px;
        }
        .youtube {
            font-size: 30px;
        }
        .instagram {
            font-size: 36px;
        }
    }
}
.block-photos {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    max-width: 1898px;
    margin: 0 auto;
    &__img {
        margin-right: 20px;
        margin-left: 20px;
        width: 100%;
        height: 339px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: contain;
        }
    }
}
.block-footer {
    display: flex;
    padding-bottom: 40px;
    font-family: 'Proxima Nova Light';
    font-size: 18px;
    line-height: 25px;
    color: $title-color;
    margin-top: 112px;
    justify-content: space-between;
    &__copyright {
        width: 28%;
        margin-top: 22px;
    }
    &__logo {
        display: block;
        width: 188px;
        height: 70px;
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
        margin-top: 7px;
        margin-right: 13%;
    }
    &__webdev {
        text-align: right;
        width: 18%;
        margin-top: 23px;
            }

}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(58, 69, 97, 0.5);
    z-index: 3;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 397px;
    height: 613px;
    background-color: #FCF8F5;;
    padding: 59px 60px;
    box-sizing: border-box;
    &-big {
        width: 702px;
        height: 549px;
    }
    &__close {
        position: absolute;
        top: 13px;
        right: 11px;
        font-size: 41px;
        line-height: 21px;
        color: $black-color;
        cursor: pointer;
    }
    h2 {
        font-size: 30px;
        line-height: 40px;
        width: 100%;
    }
    &__wrap {
        flex-basis: 46.6%;
        &_invisible {
            display: none;
        }
   
    }
    &_mini {
        width: 397px;
        height: 250px;
        
    }
    .mobile {
        display: none;
    }

}

#callback, #thanks, #signup, #consultation {
    display: none;
}

.fixed {
    display: none;
}
